.container {
  width: 100%;
  height: 98vh;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(10, 1fr);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  gap: 0.7px;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  /* background-color: #0a0a0a; */
  /* background-color: #f6f6f6; */
  background-color: #f1f1f1;
  /* background-color: red; */
}

.animateCard {
  width: 1200px;
  height: 300px;
  /* background: radial-gradient(ellipse, rgba(255, 255, 255, 0.5) 10%, #0d0d0d, #0d0d0d, #0d0d0d); */
  background: radial-gradient(
    ellipse,
    rgba(91, 33, 182, 0.5) 10%,
    #f1f1f1,
    #f1f1f1,
    #f1f1f1
  );
  position: absolute;
  animation: movement 10s infinite linear;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
}

@keyframes movement {
  0% {
    top: -100px;
    opacity: 70%;
  }

  10% {
    opacity: 100%;
  }

  /* 25% {
    opacity: 100%;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }
  */

  95% {
    opacity: 0;
  }

  100% {
    top: 105%;
    right: -100px;
    opacity: 0;
  }
}

.gridCards {
  /* background-color: #0d0d0d; */
  background-color: #f1f1f1;
  z-index: 1;
}
