.animateCard {
  /* background: radial-gradient(ellipse, rgba(255, 255, 255, 0.5) 10%, #0d0d0d, #0d0d0d, #0d0d0d); */
  background: radial-gradient(
    ellipse,
    rgba(91, 33, 182, 0.25) 50%,
    #f1f1f1,
    #f1f1f1,
    #f1f1f1
  );
  position: absolute;
  animation: movement 10s infinite linear;
  left: 50%;
  right: 50%;
  /* border: 2px solid yellow; */
  transform: translate(-50%, -50%);
  /* background-color: red; */
}

@keyframes movement {
  0% {
    top: -100px;
    opacity: 70%;
  }

  10% {
    opacity: 100%;
  }

  /* 25% {
    opacity: 100%;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }
  */

  95% {
    opacity: 0;
  }

  100% {
    top: 105%;
    right: -100px;
    opacity: 0;
  }
}

.gridCards {
  /* background-color: #0d0d0d; */
  background-color: #f1f1f1;
  z-index: 1;
}
